<h1> Thanks <%= @user.email %> </h1>
<h2>for your Feedback: "<%= @comment %>" </h2>
<h3>  Rating: "<%= @rating %> " </h3>
<h4> Book <%= @book %> </h4>

<p> Thanks and Stay Connected </p>
<p> Book Portal </p>